$mainWhite: #fff;

$mainBlack: #000;
$lighterBlack: #080808;

$mainGray: #ccc;

$mainPink: #ff1e5c;
$secondPink: #d41e5b;

$darkerBlue: #505cc1;
$lighterBlue: #5067c1;

$darkerYellow: #ffc43b;
$lighterYellow: #ffd23e;